button.btn
  background-color: $default-color
  color: $text-color
  border-radius: 6px
  border: 1px solid $border-color
  height: 32px
  line-height: 24px
  cursor: pointer
  &[type="button"], 
  &[type="reset"], 
  &[type="submit"]
  a
    color: currentColor
    text-decoration: none
  &:hover
    color: $primary-color
    border-color: $hover-color
  &--primary
    transition: 0.3s
    &:hover
      color: $default-color
      background-color: $primary-color

button.btn-link
  background-color: $default-color
  color: $primary-color
  border-radius: 2px
  border: 0
  cursor: pointer
  &[type="button"], 
  &[type="reset"], 
  &[type="submit"]
  a
    color: currentColor
    text-decoration: none